/* 
    Document   : style
    Created on : 22.11.2012, 9:49:11
    Author     : User
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

    div.main{
        width: 1024px;
        background-color: gainsboro;
    }
    div.sidebar{
        float: left;
        width: 30%;
        padding: 5px;
    }
    .sidebar ul{
        list-style-type: none;
        list-style-image:url('/media/img/Folder-Closed.png');
    }
    div.header{
        width: 100%;
        height: 25px;
        border-radius: 5px;
        border: 1px solid black;
    }
    .header h3{margin: 0 5px;padding: 0}
